<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoMidiPlayer.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoMidiPlayer.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AutoMidiPlayer.Data.Properties.Settings.SqliteConnection"
            connectionString="history.db" />
    </connectionStrings>
    <userSettings>
        <AutoMidiPlayer.Data.Properties.Settings>
            <setting name="AutoCheckUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeBetaUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HoldNotes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransposeNotes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MergeNotes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseSpeakers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoEnableListenMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoDetectDefaultKey" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultSongArtist" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultSongAlbum" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultSongDefaultKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultSongKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultSongTranspose" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultSongCustomBpm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultSongSpeed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefaultSongMergeNotes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultSongMergeMilliseconds" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DefaultSongHoldNotes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayUnplayableOnIgnore" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppTheme" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SelectedLayout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedSpeed" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MergeMilliseconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenshinLocation" serializeAs="String">
                <value>GenshinImpact.exe</value>
            </setting>
            <setting name="HeartopiaLocation" serializeAs="String">
                <value>xdt.exe</value>
            </setting>
            <setting name="RobloxLocation" serializeAs="String">
                <value>RobloxPlayerBeta.exe</value>
            </setting>
            <setting name="ActiveGenshin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ActiveHeartopia" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ActiveRoblox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SkyLocation" serializeAs="String">
                <value>Sky.exe</value>
            </setting>
            <setting name="ActiveSky" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectedInstrument" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MidiFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoScanMidiFolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExcludedAutoImportPaths" serializeAs="String">
                <value />
            </setting>
            <setting name="SongsSortMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SongsSortAscending" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QueueSongIds" serializeAs="String">
                <value />
            </setting>
            <setting name="QueueShuffle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QueueLoopMode" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CurrentSongId" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentSongPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AccentColor" serializeAs="String">
                <value>#1DB954</value>
            </setting>
            <setting name="UseDirectInput" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseWindowMessage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeyboardPressDelayMs" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="EnableKeyUp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastViewedPage" serializeAs="String">
                <value>Songs</value>
            </setting>
            <setting name="HotkeysEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MouseStopClickMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HotkeyPlayPause" serializeAs="String">
                <value>3|18</value>
            </setting>
            <setting name="HotkeyNext" serializeAs="String">
                <value>3|25</value>
            </setting>
            <setting name="HotkeyPrevious" serializeAs="String">
                <value>3|23</value>
            </setting>
            <setting name="HotkeySpeedUp" serializeAs="String">
                <value>3|24</value>
            </setting>
            <setting name="HotkeySpeedDown" serializeAs="String">
                <value>3|26</value>
            </setting>
            <setting name="HotkeyPanic" serializeAs="String">
                <value>3|13</value>
            </setting>
            <setting name="SelectedLayoutName" serializeAs="String">
                <value>QWERTY</value>
            </setting>
            <setting name="SelectedInstrumentByGame" serializeAs="String">
                <value />
            </setting>
            <setting name="SmoothScrollingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebugModeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CrashLogVerbosity" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SelectedTransition" serializeAs="String">
                <value>1</value>
            </setting>
        </AutoMidiPlayer.Data.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <AutoMidiPlayer.Data.Properties.Settings>
            <setting name="LicenseUri" serializeAs="String">
                <value>https://github.com/Jed556/AutoMidiPlayer/blob/main/LICENSE.md</value>
            </setting>
            <setting name="ThirdPartyLicenseUri" serializeAs="String">
                <value>https://github.com/Jed556/AutoMidiPlayer/blob/main/THIRD-PARTY-NOTICES.md</value>
            </setting>
        </AutoMidiPlayer.Data.Properties.Settings>
    </applicationSettings>
</configuration>
